<nb-card status="default" class="stretch">
  <nb-card-header>Ejercicio:</nb-card-header>
  <nb-card-body>
    <div class="box justify">
      <span>
        A continuación tendrá que responder una serie de preguntas tipo test para completar el ejercicio. Los resultados
        se calcularán
        automáticamente cuando seleccione enviar. Podrá ver el resultado en la página del patrón donde se encuentra el
        ejercicio. <br />
        <strong>
          ¡Mucha suerte! ^^
        </strong>
      </span>
    </div>

    <!-- Body de las preguntas-->
    <nb-list style="list-style: decimal; list-style-position: inside;">
      <nb-list-item class="justify" style="margin-top: 20px;">
        <div class="justify">
          <span>
            Texto pregunta test test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test test
          </span>
          <div style="margin-top: 2em">
            <ul style="list-style-type: lower-alpha; gap: 10px;">
              <li>
                Texto opcion test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test test
              </li>
            </ul>
          </div>
        </div>
      </nb-list-item>
    </nb-list>


  </nb-card-body>
</nb-card>