<nb-card status="primary" style="width: 40%; min-width: 400px;">
    <nb-card-header>Cambiar contraseña</nb-card-header>
    <nb-card-body>
        <div class="margin-b20">
            <app-generic-input label="Contraseña antigua" formName="nick" [form]="form"></app-generic-input>
        </div>
        <div class="margin-b20">
            <app-generic-input class="margin-b20" label="Nueva contraseña" formName="nick" [form]="form">
            </app-generic-input>
        </div>
        <app-generic-input label="Nueva contraseña otra vez" formName="nick" [form]="form"></app-generic-input>
    </nb-card-body>
    <nb-card-footer>
        <div class="footer-right">
            <button nbButton status="primary" (click)="accept()">Confirmar</button>
            <button nbButton (click)="close()">Cancelar</button>
        </div>
    </nb-card-footer>
</nb-card>