<form [formGroup]="form" class="width100">
    <span class="header-section">{{ label }} <ng-container *ngIf="required && !readOnly"><span *ngIf="showRequired" style="color:orangered">*</span></ng-container></span>
    <input (keydown.enter)="onKeypress($event)" [type]="getInputType()" fullWidth nbInput [formControlName]="formName">
    <button nbSuffix nbButton ghost (click)="toggleShowPassword()" style="position: absolute; right: 25px;" [tabIndex]="-1">
        <nb-icon [icon]="hidePassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
            [attr.aria-label]="hidePassword ? 'hide password' : 'show password'">
        </nb-icon>
    </button>
</form>
