<nb-card>
    <nb-card-header>Perfil de</nb-card-header>
    <nb-card-body>
        <div class="row">
            <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                <img [src]="imageURI"/>
            </div> -->
            <div class="col-lg-3 col-md-3 col-sm-12">
                <app-generic-input label="Nick" [readOnly]="true" defaultValue=""></app-generic-input>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <app-generic-input label="Email" [readOnly]="true" defaultValue=""></app-generic-input>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <app-generic-input label="Rol" [readOnly]="true" defaultValue=""></app-generic-input>
            </div>
        </div>
        <div class="row">
        </div>
    </nb-card-body>
</nb-card>