<nb-card accent="danger">
    <nb-card-header><nb-icon icon="alert-circle-outline" style="margin-right: 15px;" status="danger"></nb-icon>Error 403</nb-card-header>
    <nb-card-body>
        <div class="row justify-content-center">
            <div class="col justify-content-center">
                <div class="width100 row justify-content-center"><nb-icon icon="alert-circle-outline" style="width: 200px; height: 200px; margin-bottom: 20px;" status="danger"></nb-icon></div>
                <div style="text-align: center; font-size: large; font-weight: bold;"><span class="">No tienes permisos suficientes para poder acceder a este recurso</span></div>
            </div>
            
        </div>

    </nb-card-body>
</nb-card>