<nb-card status="default" class="stretch">
  <nb-card-header>Estadisticas del ejercicio: </nb-card-header>
  <nb-card-body>
    <p>A continuación se detallan las estdísticas del ejericio <strong>-</strong> para el grupo <strong>-</strong>.
      Puede seleccionar otros
      tipos de filtros con las opciones de abajo.
    </p>

    <nb-accordion class="margin-b25">
      <nb-accordion-item>
        <nb-accordion-item-header class="header-blue">
          <nb-icon icon="funnel-outline"></nb-icon>Opciones
        </nb-accordion-item-header>
        <nb-accordion-item-body>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <app-generic-pie-chart class="chart"></app-generic-pie-chart>

    <nb-accordion class="margin-b25 vista-detallada">
      <nb-accordion-item>
        <nb-accordion-item-header class="header-blue">
          <nb-icon icon="expand-outline"></nb-icon>Vista detallada
        </nb-accordion-item-header>
        <nb-accordion-item-body>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

  </nb-card-body>
</nb-card>