<form [formGroup]="form" class="width100">
    <span class="header-section">{{ label }}</span>
    <input (keydown.enter)="onKeypress($event)" [type]="getInputType()" fullWidth nbInput [formControlName]="formName">
    <button nbSuffix nbButton ghost (click)="toggleShowPassword()" style="position: absolute; right: 25px;" [tabIndex]="-1">
        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
            [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
        </nb-icon>
    </button>
</form>
