<ng-container *ngIf="item">
    <div>
        <div style="display: inline-block; width: 100px;">
            <span class="dot">
                <div class="whiteFont dot-text" style="margin-top: 30px;">
                    <label>{{ this.item!.nombre!.substr(0,1).toUpperCase() }}</label>
                </div>
            </span>
        </div>
        <div style="display: inline-block;">
            <h4>{{ this.item!.nombre }}</h4>
        </div>
    </div>
    <p>{{ this.item!.descripcion!.descripcion }}</p>
    <div class="text-autor">
        Autor: {{ this.item!.autor!.nick | titlecase }}
    </div>
</ng-container>