<nb-card status="danger" style="width: 40%; min-width: 400px;">
    <nb-card-header>Error en la importación</nb-card-header>
    <nb-card-body>
        Los siguientes alumnos no se han podido importar debido a que sus nombres de usuario ya existen en la BD:
        <nb-list style="height: 300px;" class="margin-t20">
            <nb-list-item *ngFor="let nombre of nombres">
              {{ nombre }}
            </nb-list-item>
          </nb-list>
    </nb-card-body>
    <nb-card-footer>
        <div class="footer-right">
            <button nbButton class="button-lowercase" (click)="close()">Cerrar</button>
        </div>
    </nb-card-footer>
</nb-card>