<nb-accordion class="margin-b25">
    <nb-accordion-item>
        <nb-accordion-item-header class="header-blue">
            <nb-icon icon="funnel-outline"></nb-icon>Filtrar
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <!-- Filtrar -->
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <app-generic-input label="Nombre" [form]="form" formName="nombre"></app-generic-input>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <app-generic-input label="Profesor" [form]="form" formName="profesor"></app-generic-input>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 justify-content-end"
                    style="padding-top: 24px; display: flex; flex-direction: row; gap: 10px;">
                    <button nbButton status="basic" (click)="eraseForm()" ghost>
                        <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                    <button nbButton status="primary" (click)="onFilter()">Filtrar</button>
                </div>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<app-generic-table [page]="page" (onSort)="onSort($event)" (onPage)="onPage($event)" [paging]="true" [loading]="loading"
    [actionsColumn]="true" [configActions]="configActions" [columns]="columns" [rows]="page.content" [paginator]="true"
    (onEdit)="onEdit($event)" (onDelete)="onDelete($event)"></app-generic-table>