.info-dialog {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
}

.info-container {
  width: 100%;
}

.container-cred {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.header-cred {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.container-cred-item {

}