<nb-card status="default">
    <nb-card-header>Lista de patrones</nb-card-header>
    <nb-card-body>
        <!-- Buscador -->
        <div class="width100">
            <div class="margin-b25">
                <input type="text" class="width75 center" nbInput fieldSize="large" placeholder="Buscar por nombre...">
            </div>
            <div>
                <nb-list>
                    <nb-list-item class="hoverItem">
                    </nb-list-item>
                </nb-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>