<nb-card status="default" class="stretch">
    <nb-card-header>Crear nuevo patrón</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="row" style="gap: 20px;">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <app-generic-input label="Nombre" maxLength="100" [form]="form" [formName]="nombreFormName" [required]="true">
                    </app-generic-input>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <app-generic-input label="Patrón" [form]="form" [formName]="patronFormName" [required]="true"
                        [readOnly]="true"></app-generic-input>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <app-generic-input label="Intentos" [form]="form" [onlyNumbers]="true" [formName]="intentosFormName"></app-generic-input>
                </div>
            </div>
            <div class="mt-4">
                <span class=label-form>Preguntas</span>
            </div>
            <div>
                <div class="mt-2 row">
                    <div class="col-1" style="text-align: right; padding-right: 2px !important;">
                        <div class="mt-2">
                            <span class=label-form style="font-size: 14px !important; ">1.</span>
                        </div>
                        
                    </div>
                    <div class="col-10">
                        <textarea style="resize: vertical;" nbInput fullWidth formControlName="test1"
                        status="basic"></textarea>
                    </div>
                </div>
                <div class="row mt-2" style="width: 300px; margin-left: 75px;">
                    <div class="col-1">
                        <button nbButton status="info" class="button-lowercase" shape="round" size="tiny"><nb-icon icon="plus"></nb-icon></button>
                    </div>
                    <div class="col-10" style="margin-top: 3px; margin-left: 10px;">
                        <span class=label-form style="font-size: 14px !important;">Añadir opción</span>
                    </div>
                </div>
            </div>
            <div class="mt-3" style="margin-left: 10px;">
                <button nbButton status="primary" class="button-lowercase" size="small">Añadir pregunta</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>