<div class="login-container">
    <div>

        <nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
            <nb-card-header>
                <div class="login-header">
                    <div>
                        Inicio de sesión
                    </div>
                    <div class="login-header-icons">
                        <nb-icon class="login-header-icon" nbTooltip="Ayuda credenciales" nbTooltipStatus="info" icon="alert-circle" 
                            (click)="openHelpDialog()" status="info"></nb-icon>
                    </div>
                </div>
               
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
                    <app-generic-input [required]="true" (onSubmit)="onSubmit()" label="Nombre de usuario" [form]="form" formName="nick" [showRequired]="false" class="user-input"></app-generic-input>
                    <app-generic-input-password [required]="true" (onSubmit)="onSubmit()" label="Contraseña" [form]="form" formName="password" [showRequired]="false"></app-generic-input-password>
                    <button type="submit" class="button-lowercase" nbButton status="primary">Iniciar sesión</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="links">
    <div class="links-iconos">
        <div class="round-white-button" (click)="goToMail()" nbTooltip="Correo electrónico">
            <nb-icon icon="email-outline" status="control"></nb-icon>
        </div>
        <div class="round-white-button" (click)="goToGit()" nbTooltip="Repositorios de la aplicación">
            <nb-icon icon="github" status="control"></nb-icon>
        </div>
        <div class="round-white-button" (click)="goToLinkedin()" nbTooltip="LinkedIn">
            <nb-icon icon="linkedin" status="control"></nb-icon>
        </div>
    </div>
    
</div>