<nb-card status="primary" style="width: 40%; min-width: 400px;">
    <nb-card-header>Cambiar contraseña</nb-card-header>
    <nb-card-body>
        <div class="margin-b20">
            <app-generic-input-password label="Contraseña actual" formName="password" [form]="form" [required]="true"></app-generic-input-password>
        </div>
        <div class="margin-b20">
            <app-generic-input-password class="margin-b20" label="Nueva contraseña" formName="newPassword" [form]="form" [required]="true">
            </app-generic-input-password>
        </div>
        <app-generic-input-password label="Nueva contraseña otra vez" formName="newPassword2" [form]="form" [required]="true"></app-generic-input-password>
    </nb-card-body>
    <nb-card-footer>
        <div class="footer-right">
            <button nbButton status="primary" (click)="accept()">Confirmar</button>
            <button nbButton (click)="close()">Cancelar</button>
        </div>
    </nb-card-footer>
</nb-card>