.main-alumno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 20px;
}

.main-alumno-item:nth-child(1) {
  order: 0;
  flex: 1 1 0;
  align-self: stretch;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.main-alumno-item:nth-child(2) {
  order: 0;
  flex: 1 1 0;
  align-self: stretch;
}

.results-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 20px 0px;
}

.results-item {
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.results-item:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.results-item:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.div-body {
  margin-top: 10px;
  margin-bottom: 10px;
}
