<div class="main-alumno">
  <div class="main-alumno-item">
    <span class="header-section">
      <nb-icon icon="pie-chart-2" status="basic"></nb-icon> Progreso del curso
    </span>
    <div class="div-body">
      <app-generic-pie-chart class="chart" [serie]="estadisticas.serie" [total]="estadisticas.total" [title]=""
        [home]="true"></app-generic-pie-chart>
      <div class="leyenda">
        <div class="leyenda-colors">
          <div class="leyenda-verde">
          </div>
          <div class="leyenda-rojo">
          </div>
          <div class="leyenda-gris">
          </div>
        </div>
        <div class="leyenda-col">
          <div class="leyenda-item header-section">
            <span>Realizados </span>
          </div>
          <div class="leyenda-item header-section">
            <span>No realizados </span>
          </div>
          <div class="leyenda-item header-section">
            <span>Total </span>
          </div>
        </div>
        <div class="leyenda-col">
          <div class="leyenda-number">
            <span> {{estadisticas.realizados}}</span>
          </div>
          <div class="leyenda-number">
            <span> {{estadisticas.noRealizados}}</span>
          </div>
          <div class="header-section">
            <span> {{estadisticas.total}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-alumno-item results-container">
    <div class="results-item box-shadow">
      <span class="header-section">
        <nb-icon icon="search-outline" status="basic"></nb-icon> Patrones visitados
      </span>
      <div class="div-body">
        <app-generic-table [loading]="loadingPatrones" [columns]="columnsPatrones" [rows]="rowsPatrones"
          [selectionType]="selectionTypePatrones" (onSelect)="onSelectPatron($event)"></app-generic-table>
      </div>
    </div>
    <div class="results-item box-shadow">
      <span class="header-section">
        <nb-icon icon="book-open-outline" status="basic"></nb-icon> Último ejercicio
      </span>
      <div class="div-body">
        <app-generic-table [loading]="loadingEjer" [columns]="columnsEjer" [rows]="rowsEjer"></app-generic-table>
      </div>
    </div>
  </div>
</div>